/**********************************************************************************************************************
 * GLOBAL
 *********************************************************************************************************************/

body, html {
    background: #FFFFFF;
}

.container {
    width: 90%;
}

.preloader-wrapper {
    position: fixed;
    top: 45%;
    left: 47%;
}

