/**********************************************************************************************************************
 * GLOBAL
 *********************************************************************************************************************/

body, html {
    background: #FFFFFF;
}

.container {
    width: 90%;
}

.preloader-wrapper {
    position: fixed;
    top: 45%;
    left: 45%;
}


@media (min-width: 993px) {
    .preloader-wrapper {
        left: 47%;
    }
}


