/**********************************************************************************************************************
 * GLOBAL
 *********************************************************************************************************************/

body, html {
    background: #EEE;
}

.container {
    width: 90%;
}

/**********************************************************************************************************************
 * SESSIONS
 *********************************************************************************************************************/

table {
    table-layout: fixed;
}

.session {
    padding: 1px 5px 1px 5px;
    cursor: pointer;
}

@media (min-width: 993px) {
    .session {
        padding: 10px;
    }
}

.session-title,
.session-description,
.session-speakers,
.session-info,
.session-room,
.session-track,
.session-speakers {
    color: #FFFFFF;
}

.session-time {
    color: #727272;
}

.session-hour, .session-minute {
    font-size: 18px;
    margin-left: 3px;
}

@media (min-width: 993px) {
    .session .session-title {
        min-height: 100px;
    }

    .session-time {
        color: #727272;
        min-width: 110px;
        padding: 24px;
    }

    .session-hour {
        font-size: 56px;
        font-weight: 300;
        letter-spacing: -0.04em;
    }

    .session-minute {
        font-size: 16px;
        margin-left: 3px;
    }
}

.session-description {
    margin-top: 10px;
}

.session-info i {
    margin-right: 2px;
}

.session-track, .session-room, .session-difficulty, .session-speakers {
    margin-bottom: 5px;
    margin-right: 3px;
    font-size: 12px;
    font-weight: 300;
    line-height: normal;
}

th {
    text-align: center;
}

table.responsive-table td.session-time {
    text-align: center;
}

table.responsive-table td {
    font-size: 14px;
    height: 51px;
}
