.speakers-container.speakers-page {
    display: inline-block;
}

.speaker.speakers-page {
    width: 100%;
    margin: 8px;
    vertical-align: top;
    min-width: 300px;
}
@media (min-width: 602px) {
    .speaker.speakers-page {
        margin: 8px;
        width: calc(100% / 2 - 2 * 8px);
    }
}

@media (min-width: 961px) {
    .speaker.speakers-page {
        width: calc(100% / 3 - 2 * 8px);
    }
}

.speaker.speakers-page.card > .card-image {
    color: #fff;
    height: 250px;
    background-size: cover;
    background-position: center;
    border-top: 1px solid rgba(0, 0, 0, .1);
    background-image: url('/assets/imgs/person-placeholder.jpg');
}

.speaker.speakers-page.card > .card-image > .card-title {
    font-size: 36px;
    font-weight: bold;
    text-shadow: 1px 1px 3px black;
    padding: 5px;
    margin-left: 10px;
    line-height: 1.2;
}

.speaker.speakers-page.card > .card-content {
    color: #212121;
    font-weight: 400;
    text-align: justify;
    font-size: 12px;
}

.speaker.speakers-page.card > .card-action {
    padding: 10px 10px 5px 10px;
}
