/**********************************************************************************************************************
 * SPEAKERS
 *********************************************************************************************************************/

.speakers-container {
    display: inline-block;
}

.card.speaker {
    margin: 8px;
    vertical-align: top;
    width: 95%;
    min-width: 300px;
    display: inline-block;
    cursor: pointer;
}

@media (min-width: 718px) {
    .card.speaker {
        margin: 8px;
        width: calc(100% / 2 - 2 * 8px);
    }
}

@media (min-width: 1069px) {
    .card.speaker {
        width: calc(100% / 3 - 2 * 8px);
    }
}

.card-image.speaker-image {
    color: #fff;
    height: 250px;
    background-size: cover;
    background-position: center;
    border-top: 1px solid rgba(0, 0, 0, .1);
    background-image: url('/imgs/person-placeholder.jpg');
}

.card-title.speaker-name {
    font-size: 36px;
    font-weight: bold;
    text-shadow: 1px 1px 3px black;
    padding: 5px;
    margin-left: 10px;
    line-height: 1.2;
}

.speaker-country, .speaker-organization, .speaker-bio {
    color: #212121;
    font-size: 12px;
    font-weight: 400;
}

.speaker-bio {
    padding-top: 10px;
    text-align: justify;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
    color: #039be5;
    text-transform: none;
}
