.container {
    max-width: 1280px;
    margin: 0 auto;
}

.speaker-card.mdl-card {
    padding: 0;
    margin: 8px;
    /*width: calc(100% / 3 - 2 * 8px);*/
    /*width: 420px;*/
}

.speaker-card > .mdl-card__title {
    color: #fff;
    height: 350px;
    background-size: cover;
    background-position: center;
    border-top: 1px solid rgba(0,0,0,.1);
    background-image: url('/imgs/person-placeholder.jpg');
}

.speaker-card > .mdl-card__title .name {
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px black;
    padding: 5px;
}

.speaker-card > .mdl-card__supporting-text {
    margin-left: 3px;
    height: 150px;
    color: #212121;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.4;
    text-align: justify;
    font-size: 12px;
}

.speaker-card > .mdl-card__actions > a > i.zmdi {
    margin-left: 20px;
}