/**********************************************************************************************************************
 * GLOBAL
 *********************************************************************************************************************/

body, html {
    background: #EEE;
}

.container {
    width: 90%;
}

/**********************************************************************************************************************
 * SPEAKERS
 *********************************************************************************************************************/

.speakers-container {
    display: inline-block;
}

.speakers-container > .speaker.card {
    margin: 8px;
    vertical-align: top;
    width: 95%;
    min-width: 300px;
    display: inline-block;
    cursor: pointer;
}

@media (min-width: 703px) {
    .speakers-container > .speaker.card {
        margin: 8px;
        width: calc(100% / 2 - 2 * 8px);
    }
}

@media (min-width: 1054px) {
    .speakers-container > .speaker.card {
        width: calc(100% / 3 - 2 * 8px);
    }
}

.speakers-container > .speaker.card > .card-image {
    color: #fff;
    height: 250px;
    background-size: cover;
    background-position: center;
    border-top: 1px solid rgba(0, 0, 0, .1);
    background-image: url('/assets/imgs/person-placeholder.jpg');
}

.speakers-container > .speaker.card > .card-image > .card-title {
    font-size: 36px;
    font-weight: bold;
    text-shadow: 1px 1px 3px black;
    padding: 5px;
    margin-left: 10px;
    line-height: 1.2;
}

.speakers-container > .speaker.card > .card-content {
    color: #212121;
    font-weight: 400;
    text-align: justify;
    font-size: 12px;
    display: none;
}

.speakers-container > .speaker.card > .card-action {
    padding: 10px 10px 5px 10px;
}

/**********************************************************************************************************************
 * SESSIONS
 *********************************************************************************************************************/

.session-container > schedule-day > .timeslot,
.session-container > schedule-day > .timeslot > .sessions-wrapper,
.session-container > schedule-day > .timeslot > .sessions-wrapper > .session {
    display: flex;
    flex-direction: column;
}

.session-container > schedule-day > .timeslot > .sessions-wrapper {
    flex: 1 1 auto;
}

.session-container > schedule-day > .timeslot > .sessions-wrapper > .session {
    flex: 1 1 1e-9px;
}

@media (min-width: 1200px) {
    .session-container > schedule-day > .timeslot,
    .session-container > schedule-day > .timeslot > .sessions-wrapper {
        flex-direction: row;
    }
}

.session-container > schedule-day > .timeslot {
    margin-top: 40px;
}

.session-container > schedule-day > .timeslot:last-of-type {
    margin-bottom: 50px;
}

.session-container > schedule-day > .timeslot > .start-time {
    color: #727272;
    min-width: 110px;
    padding-left: 24px;
}

.session-container > schedule-day > .timeslot > .start-time > .hours {
    font-size: 56px;
    font-weight: 300;
    letter-spacing: -0.04em;
}

.session-container > schedule-day > .timeslot > .start-time > .minutes {
    font-size: 16px;
    margin-left: 3px;
}

.session {
    padding: 10px 5px 5px 10px;
    margin: 2px;
    min-height: 200px;
}

@media (min-width: 600px) {
    .session {
        min-height: 150px;
    }
}

.session-container > schedule-day > .timeslot > .sessions-wrapper > .session > .card-content {
    padding: 2px;
}

.session-container > schedule-day > .timeslot > .sessions-wrapper > .session > .card-content > .card-title {
    font-size: 18px;
    line-height: 1.6;
}

.session-container > schedule-day > .timeslot > .sessions-wrapper > .session > .card-action {
    padding: 2px;
}

.session-container > schedule-day > .timeslot > .sessions-wrapper > .session > .card-action > .speakers {
    font-size: 12px;
    line-height: normal;
}

.session-container > schedule-day > .timeslot > .sessions-wrapper > .session > .card-content > .info {
    margin-top: 5px;
    margin-bottom: 5px;
}

.session-container > schedule-day > .timeslot > .sessions-wrapper > .session > .card-content > .info > .room, .session > .card-content > .info > .track {
    font-size: 10px;
    font-weight: 300;
    line-height: normal;
}
